body {
  margin: 0;
  font-family: sans-serif;
}

* {
  box-sizing: border-box;
}

.main-container {
  display: flex;
  flex-direction: column;
  padding: 1rem;
  gap: 1rem;
  max-width: 100%;
  overflow-x: hidden;
}
